## OBJECT-ORIENTED PROGRAMMING WITH PYTHON
#### École d'ingénieurs Léonard de Vinci, La Défense, Paris
**Hugo Alatrista Salas** 

***

Python is an object-oriented programming language that supports OOP concepts such as classes, objects, inheritance, and polymorphism. OOP allows for a modular approach to software development, promoting code reusability, scalability, and maintainability. This TP focuses on implementing what we have learned in the course.

## Creating the Client class

Let us explore Object-Oriented Programming (OOP) concepts in Python using the examples of a **Client** class, a **VIPClient** subclass, and additional classes to demonstrate inheritance, multiple inheritance, polymorphism, method overloading, and method overriding. As we already know, a class is composed of attributes and methods. Attributes describe a class, and methods allow classes to perform certain actions.

First, we create the **Client** class with two attributes: a name and a balance. We also implement a method for displaying the object attributes. Remember that the *Constructor* method shoulb be also implemented. In Python, this method is named __init__() and has two parameters: *name* and *balance*. This constructor allows the object to set the *name* and *balance* attributes, meaning each instance should have a name and a balance when created. If we want to set a default value for each attribute, we can add the default value into the method, for example, *balance = 0*

In [56]:
class Client:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
    
    def display_info(self):
        return f"Client: {self.name}, Balance: {self.balance}"

We will create a **VIPClient** subclass that inherits from the **Client** and adds extra features. In this example, we override the *display_info()* method previously defined in the superclass Client. This method incorporates the method of its parent (*super().display_info()*) and adds the visualization of the feature *vip_level*, which is a feature of the **VIPClient** class

In [57]:
class VIPClient(Client):
    def __init__(self, name, balance, vip_level):
        # Call the parent class's constructor
        super().__init__(name, balance)
        self.vip_level = vip_level
    
    def display_info(self):
        # Override the parent class method
        base_info = super().display_info()
        return f"{base_info}, VIP Level: {self.vip_level}"

Now, we instantiate two classes: The **Client** and **VIPClient** classes. The following code also show their attributes via the method *.display_info()*.

In [58]:
client1 = Client("Anne", 1000)
vip_client = VIPClient("Percy", 5000, "Gold")

print(client1.display_info()) 
print(vip_client.display_info())

Client: Anne, Balance: 1000
Client: Percy, Balance: 5000, VIP Level: Gold

Let us create a **Person** class to demonstrate the multiple heritage. Similar to the **Client** class, this class represents a person's basic attributes (*name* and *age*) and has a method for displaying those attributes.

In [59]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def display_person_info(self):
        return f"Name: {self.name}, Age: {self.age}"

Let us modify the **VIPClient** class to inherit from **Client** and **Person**. In this stage, it is also possible to override the *display_info()* method. It is important to note that our **VIPClient** has a new attribute inherited from the **Person* class: *age*.

In [60]:
class VIPClient(Client, Person):
    def __init__(self, name, balance, vip_level, age):
        Client.__init__(self, name, balance)
        Person.__init__(self, name, age)
        self.vip_level = vip_level
    
    def display_info(self):
        client_info = Client.display_info(self)
        person_info = Person.display_person_info(self)
        return f"{client_info}, {person_info}, VIP Level: {self.vip_level}"

We can instantiate a **VIPClient** thank the following code:

In [61]:
vip_client = VIPClient("Percy", 5000, "Gold", 35)
print(vip_client.display_info())

Client: Percy, Balance: 5000, Name: Percy, Age: 35, VIP Level: Gold

### Exercise 1: improving the codeimplementation of VIPClient

In the **VIPClient** class implementation, the client's name appears twice. Update the *display_info()* method to fix this error.

In [62]:
class VIPClient(Client, Person):
    def __init__(self, name, balance, vip_level, age):
        Client.__init__(self, name, balance)
        Person.__init__(self, name, age)
        self.vip_level = vip_level
    
    def display_info(self):
        client_info = Client.display_info(self)
        person_info = self.age
        return f"{client_info}, Age : {person_info}, VIP Level: {self.vip_level}"

In [63]:
vip_client = VIPClient("Percy", 5000, "Gold", 35)
print(vip_client.display_info())

Client: Percy, Balance: 5000, Age : 35, VIP Level: Gold

## Polymorphism and inheritance

In the lecture, the polymorphism allows methods in different classes to have the same name but behave differently. In this context, *display_info()* in both **Client** and **VIPClient** is an example of polymorphism.

Let us demonstrate polymorphism with a simple function that can work with both **Client** and **VIPClient**. This method called *print_client_info()*, is implemented on the **Client** class and works on the **VIPClient** because of the inheritance. This method works fine for both classes with different behaviors.

In [64]:
def print_client_info(client):
    print(client.display_info())

client1 = Client("Anne", 1000) # A Client instance
vip_client = VIPClient("Percy", 5000, "Gold", 35) # A VIPClient instance

print_client_info(client1)

print_client_info(vip_client)

Client: Anne, Balance: 1000
Client: Percy, Balance: 5000, Age : 35, VIP Level: Gold

Let us move on to the concept of Overloading. Python **does not support method overloading** in the traditional sense (multiple methods with the same name but different parameters). However, we can achieve similar functionality using default arguments or variable-length arguments. In this example, we add a new method to our **Client** class: *deposit()*. This method allows us to increment or decrement the balance. It has two parameters: the *amount* to add to the balance and the description, which has a default value: *"No description"* To test the Overloading, we use the method with and without the default value.

In [65]:
class Client:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
    
    # Method overloading using default arguments
    def deposit(self, amount, description="No description"):
        self.balance += amount
        print(f"Deposited {amount}. Description: {description}. New balance: {self.balance}")

    def display_info(self):
        return f"Client: {self.name}, Balance: {self.balance}"

In [66]:
client1 = Client("Anne", 1000)
client1.deposit(500)  # Uses the default description
client1.deposit(300, "Salary")  # Uses the provided description
print(client1.display_info())

Deposited 500. Description: No description. New balance: 1500
Deposited 300. Description: Salary. New balance: 1800
Client: Anne, Balance: 1800

Finally, method overriding occurs when a subclass provides a specific implementation of a method already defined in its superclass. We have already seen this with the *display_info()* method in the **VIPClient** class.

The following code shows the overriding of the *display_info()* method.

In [67]:
class Client:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
    
    def display_info(self):
        return f"Client: {self.name}, Balance: {self.balance}"

class VIPClient(Client):
    def __init__(self, name, balance, vip_level):
        super().__init__(name, balance)
        self.vip_level = vip_level
    
    def display_info(self):
        return f"VIP Client: {self.name}, Balance: {self.balance}, VIP Level: {self.vip_level}"

In [68]:
vip_client = VIPClient("Jane Doe", 5000, "Gold")
print(vip_client.display_info())

VIP Client: Jane Doe, Balance: 5000, VIP Level: Gold

## Improving the Client and VIPClient classes

LLet's enhance our **Client** class. Just like real datasets, clients are defined by a multitude of attributes or characteristics. For instance, the Kaggle platform hosts a banking dataset that includes a client table. This table is comprised of 45,211 rows and 18 columns (see https://www.kaggle.com/datasets/prakharrathi25/banking-dataset-marketing-targets). We are interested in columns because they will help improve our **Client** class. First, we import the *train.csv* dataset using Pandas. To do that, we use the following code.

In [69]:
import pandas as pd

df = pd.read_csv('test.csv', nrows=10, sep = ';')

As we are interested in the columns, we recover only a few rows (for instance, only 10). It is important to note that the CSV file uses the semicolon character as a separator.

In [70]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

All features or attributes of clients could be avoided. In this exercise, we will keep only the following attributes "job", "marital", "education", "balance" "housing" and "loan".

### Exercise 2: Deleting unnecesary attributes

Using method "drop", delete al unnecessary attributes.

In [71]:
df.drop(["default","contact","day","month","duration","campaign","pdays","previous","poutcome","y"], axis=1, inplace=True)
df

   age            job  marital  education  balance housing loan
0   30     unemployed  married    primary     1787      no   no
1   33       services  married  secondary     4789     yes  yes
2   35     management   single   tertiary     1350     yes   no
3   30     management  married   tertiary     1476     yes  yes
4   59    blue-collar  married  secondary        0     yes   no
5   35     management   single   tertiary      747      no   no
6   36  self-employed  married   tertiary      307     yes   no
7   39     technician  married  secondary      147     yes   no
8   41   entrepreneur  married   tertiary      221     yes   no
9   43       services  married    primary      -88     yes  yes

### Exercise 3: Adding new attributes

Based on the previous code, implement the class **Client** with features recovered from the CSV file. Add also the *name* attribute. Remember to improve the method *Constructor*. It is strongly recommended that default values be used to ease the burden of the constructor method task. For instance, the default age could be 18 (age = 18). You can use the description on the Kaggle website to discover which attributes can have default values. In addition, the *Constructor* method should also validate the *age* value, which means that an error message will be displayed if a new client is less than 18 years old, and the object will not be created. 

**Important**: In Python, when defining a constructor, non-default arguments must come before default arguments.

In [72]:
class Client:
    def __init__(self, name, age=18, job="unknown", marital="unknown", education="unknown", balance=0, housing="unknown", loan="unknown"):
        self.name = name
        self.age = age
        self.job = job
        self.marital = marital
        self.education = education
        self.balance = balance
        self.housing = housing
        self.loan = loan
    
    def display_info(self):
        return (f"Client: {self.name}, Age: {self.age}, Job: {self.job}, Marital Status: {self.marital}, "
                f"Education: {self.education}, Balance: {self.balance}, Housing: {self.housing}, Loan: {self.loan}")

In [73]:
# Pour vérifier que l'age par defaut fonctionne

client2 = Client(name="John Doe", job="technician", marital="single", education="secondary", balance=500, housing="yes", loan="no")

print(client2.display_info())

Client: John Doe, Age: 18, Job: technician, Marital Status: single, Education: secondary, Balance: 500, Housing: yes, Loan: no

### Exercise 4: Adding new methods (1)

Methods should be implemented to give our bank client some actions. First, we have to reimplement the *display_info()* method to show all object attributes. Two new methods should be implemented in the second instance: *display_info_client()* and *display_info_balance()*, which depict the client account and balance.

In [74]:
class Client:
    def __init__(self, name, age=18, job="unknown", marital="unknown", education="unknown", balance=0, housing="unknown", loan="unknown"):
        self.name = name
        self.age = age
        self.job = job
        self.marital = marital
        self.education = education
        self.balance = balance
        self.housing = housing
        self.loan = loan
    
    def display_info(self):
        return (f"Client: {self.name}, Age: {self.age}, Job: {self.job}, Marital Status: {self.marital}, "
                f"Education: {self.education}, Balance: {self.balance}, Housing: {self.housing}, Loan: {self.loan}")
    
    def display_info_client(self):
        return (f"Client: {self.name}, Age: {self.age}, Job: {self.job}, Marital Status: {self.marital}, "
                f"Education: {self.education}, Housing: {self.housing}, Loan: {self.loan}")
    
    def display_info_balance(self):
        return f"Client: {self.name}, Balance: {self.balance}"

In [75]:

client1 = Client(name="John Doe", job="technician", marital="single", education="secondary", balance=500, housing="yes", loan="no")


print(client1.display_info_client())
print(client1.display_info_balance())

Client: John Doe, Age: 18, Job: technician, Marital Status: single, Education: secondary, Housing: yes, Loan: no
Client: John Doe, Balance: 500

It is time to instantiate some objects. Take the first three rows of the dataframe and create three objects. Remember to add a name to each of our clients (randomly). If you can take advantage of the default values, you can instantiate your objects by calling only non-default values. For example, if your constructor has age = 18 as the default value but your client is 30 years old, your code will include something like **Client(name = "Anne," age = 30,...)** The rest of the default values can be omitted when you create the object.

In [76]:
df

   age            job  marital  education  balance housing loan
0   30     unemployed  married    primary     1787      no   no
1   33       services  married  secondary     4789     yes  yes
2   35     management   single   tertiary     1350     yes   no
3   30     management  married   tertiary     1476     yes  yes
4   59    blue-collar  married  secondary        0     yes   no
5   35     management   single   tertiary      747      no   no
6   36  self-employed  married   tertiary      307     yes   no
7   39     technician  married  secondary      147     yes   no
8   41   entrepreneur  married   tertiary      221     yes   no
9   43       services  married    primary      -88     yes  yes

In [77]:
client1 = Client(name="Alice", age=df.iloc[0, 0], job=df.iloc[0, 1], marital=df.iloc[0, 2], education=df.iloc[0, 3], balance=df.iloc[0, 4], housing=df.iloc[0, 5], loan=df.iloc[0, 6])
client2 = Client(name="Bob", age=df.iloc[1, 0], job=df.iloc[1, 1], marital=df.iloc[1, 2], education=df.iloc[1, 3], balance=df.iloc[1, 4], housing=df.iloc[1, 5], loan=df.iloc[1, 6])
client3 = Client(name="Charlie", age=df.iloc[2, 0], job=df.iloc[2, 1], marital=df.iloc[2, 2], education=df.iloc[2, 3], balance=df.iloc[2, 4], housing=df.iloc[2, 5], loan=df.iloc[2, 6])

for client in [client1, client2, client3]:
    print(client.display_info())

Client: Alice, Age: 30, Job: unemployed, Marital Status: married, Education: primary, Balance: 1787, Housing: no, Loan: no
Client: Bob, Age: 33, Job: services, Marital Status: married, Education: secondary, Balance: 4789, Housing: yes, Loan: yes
Client: Charlie, Age: 35, Job: management, Marital Status: single, Education: tertiary, Balance: 1350, Housing: yes, Loan: no

### Exercise 5: Adding new methods (2)


Also, a method to increment and decrement the balance should be implemented. This new method will validate that the client should have a positive balance. Otherwise, an advertising message will be displayed if a decrement sets their balance <0. Test your method setting a negative value to the client balance, for example, *-2000* to Anne. Later, show the new balance woth the method *display_person_balance()*

In [78]:
class Client:
    def __init__(self, name, age=18, job="unknown", marital="unknown", education="unknown", balance=0, housing="unknown", loan="unknown"):
        self.name = name
        self.age = age
        self.job = job
        self.marital = marital
        self.education = education
        self.balance = balance
        self.housing = housing
        self.loan = loan
    
    def display_info(self):
        return (f"Client: {self.name}, Age: {self.age}, Job: {self.job}, Marital Status: {self.marital}, "
                f"Education: {self.education}, Balance: {self.balance}, Housing: {self.housing}, Loan: {self.loan}")
    
    def display_info_client(self):
        return (f"Client: {self.name}, Age: {self.age}, Job: {self.job}, Marital Status: {self.marital}, "
                f"Education: {self.education}, Housing: {self.housing}, Loan: {self.loan}")
    
    def display_info_balance(self):
        return f"Client: {self.name}, Balance: {self.balance}"
    
    def set_balance(self,amount):
        new_balance = self.balance + amount
        if new_balance < 0:
            print("Attention ta solde est négative !")
        self.balance = new_balance

In [79]:
client_test = Client(name="John Doe", job="technician", marital="single", education="secondary", balance=500, housing="yes", loan="no")
client_test.set_balance(-200)

In [80]:
print(client_test.display_info_balance())

Client: John Doe, Balance: 300

Finally, two methods should be implemented. The first one will allow updating the *marital* status attribute, and the second one will allow updating the *job* attribute.

In [81]:
class Client:
    def __init__(self, name, age=18, job="unknown", marital="unknown", education="unknown", balance=0, housing="unknown", loan="unknown"):
        self.name = name
        self.age = age
        self.job = job
        self.marital = marital
        self.education = education
        self.balance = balance
        self.housing = housing
        self.loan = loan
    
    def display_info(self):
        return (f"Client: {self.name}, Age: {self.age}, Job: {self.job}, Marital Status: {self.marital}, "
                f"Education: {self.education}, Balance: {self.balance}, Housing: {self.housing}, Loan: {self.loan}")
    
    def display_info_client(self):
        return (f"Client: {self.name}, Age: {self.age}, Job: {self.job}, Marital Status: {self.marital}, "
                f"Education: {self.education}, Housing: {self.housing}, Loan: {self.loan}")
    
    def display_info_balance(self):
        return f"Client: {self.name}, Balance: {self.balance}"
    
    def set_balance(self,amount):
        new_balance = self.balance + amount
        if new_balance < 0:
            print("Attention ta solde est négative !")
        self.balance = new_balance

    def set_job(self, new_job):
        self.job = new_job

    def set_martial(self, new_martial):
        self.marital = new_martial

To validate all changes made into the class, instantiate new clients, and make some updates.

In [82]:
client1 = Client(name="John Doe", job="technician", marital="single", education="secondary", balance=500, housing="yes", loan="no")

print(client1.display_info())

Client: John Doe, Age: 18, Job: technician, Marital Status: single, Education: secondary, Balance: 500, Housing: yes, Loan: no

In [83]:
client1.set_job("Ingénieur")
client1.set_martial("single")

In [84]:
print(client1.display_info())

Client: John Doe, Age: 18, Job: Ingénieur, Marital Status: single, Education: secondary, Balance: 500, Housing: yes, Loan: no

### Exercise 6: Testing the inheritance

To finish this TP, we want to create a new class called **OLDClient**, which will have the same characteristics as our clients but implement another attribute called *new_bank*, which will store the name of the bank hosting our ex-client. We can have the *unknown* value (by default) to represent the absence of this data. Remember to use the notion of inheritance adequately. This class should include a method to show the name, balance and the new bank.

In [85]:
class OLDClient(Client):

    def __init__(self, name, age=18, job="unknown", marital="unknown", education="unknown", balance=0, housing="unknown", loan="unknown",new_bank="unknown"):
        super().__init__(name, age, job, marital, education, balance, housing, loan)
        self.new_bank = new_bank

    def display_info(self):
        return f"Name : {self.name}, Age : {self.age}, New_bank : {self.new_bank}"

In [86]:
old_client = OLDClient(name="Alice", age=45, job="engineer", marital="married", education="tertiary", balance=3000, housing="yes", loan="no", new_bank="Bank of America")
print(old_client.display_info())

Name : Alice, Age : 45, New_bank : Bank of America

## Normalization in Data Analytics

Normalization is critical in data analytics because it ensures that different features or variables in a dataset are on a similar scale. This helps prevent any feature from dominating the analysis due to its magnitude. It's essential for algorithms like machine learning models, where varying ranges can skew results and lead to poor model performance. By using normalization techniques such as Min-Max scaling or Z-Score normalization, we can transform the data into a more uniform scale, which improves the accuracy, efficiency, and comparability of models and analyses.

### Challenge 1: Implementing the Normalization Class

In this TP, you will create a Python class that implements two common normalization techniques on a list of numerical values. These models are the Min-Max Normalization and the Z-Score Normalization. In addition, you will add a method to display the original data.

Tasks you will implement are the follows:

1. Create the Class: Write a class named Normalization that takes a list of numbers as input during initialization (constructor).

2. Normalization method 1: Implement a method min_max_normalization that performs Min-Max normalization on the list. The formula is: $$Min\_Max\_value = \frac{x-min}{max-min}$$

3. Normalization method 2: Implement a method z_score_normalization that performs Z-Score normalization. The formula is: $$Z\_Score\_value = \frac{x-mean}{std deviation}$$

4. Displaying method: implement a method display_list to print the original list of numbers (input)

5. Expected output:

- My list: [4, 5, 6, 2, 10]
- Min-Max normalized list: [0.222, 0.333, 0.444, 0.0, 1.0]
- Z-Score normalized list: [-0.308, -0.041, 0.226, -0.844, 0.968]

In [102]:
class Normalization():
    def __init__(self, liste):
        self.liste = liste
    
    def methode_min_max(self):
        L = self.liste.copy()

        min_val = min(L)
        max_val = max(L)

        for i in range(len(L)):
            L[i] = round( ( (L[i] - min_val) / (max_val - min_val) ), 3)

        return f"Min-Max normalized list : {L}"
        
    def methode_z_score(self):
        L = self.liste.copy()

        moyenne = sum(L) / len(L)
        variance = sum((x - moyenne) ** 2 for x in L) / (len(L) - 1)  
        ecart_type = variance ** 0.5

        for i in range(len(L)):
            L[i] = round( ( (L[i] - moyenne) / ecart_type), 3 )
        
        return f"Z-Score normalized list : {L}"
    
    def display_list(self):
        return f"My list : {self.liste}"

In [103]:
L = [4,5,6,2,10]

norm = Normalization(L)

print(norm.display_list())
print(norm.methode_min_max())
print(norm.methode_z_score())

My list : [4, 5, 6, 2, 10]
Min-Max normalized list : [0.25, 0.375, 0.5, 0.0, 1.0]
Z-Score normalized list : [-0.472, -0.135, 0.202, -1.146, 1.551]

In [98]:
print(norm.display_list())

My list : [4, 5, 6, 2, 10]

Le clipping est une technique utilisée pour gérer les valeurs aberrantes (ou outliers) dans un ensemble de données. Elle consiste à limiter les valeurs extrêmes en les ramenant à un seuil maximum ou minimum prédéfini.